.col input[type="number"] {
    width: 175px;
    margin: 10px 0 10px 0;
}
label {
    margin-bottom: 10px;
    width: 140px;
}
textarea {
    width: -webkit-fill-available;
    margin: 10px!important;
    height: 400px;
    padding: 5px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    grid-gap: 10px;
}
input[type="radio"]:checked ~ .mood {
    filter: hue-rotate(180deg);
}
.delete-case {
    padding: 0 5px 0 5px!important;
    width: min-content!important;
    margin: 0!important;
    color: red;
}
input#name_list, #case {
    margin: 0 2.5% 10px 2.5%;
    /* padding: 5px; */
    width: 95%;
}
/*.form_popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 14px;
    background: blue;
}

.form_container {
    max-width: 320px;
    background-color: #BA7A41;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
         border-radius: 10px;

}
.form_container input[type=text]:valid:required, .form_container input[type=password] {
    width: 100%;
}
.form_container input[type=text]:invalid:required, .form_container input[type=password] {
    width: 100%;
    background-color: brown;
}
 .form_container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
}
 .form_container .btn {
    background-color: white;
    opacity: 0.7;
     margin-top: 10px;
}


.form_container .cancel {
    background-color: white;
         margin-top: 10px;
}

 .form_container .btn:hover, .open-button:hover {
    opacity: 1;
}
*/
