.form_popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 14px;
    background: blue;
}

.form_container {
    max-width: 320px;
    background-color: #BA7A41;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
         border-radius: 10px;

}
.form_container input[type=text]:valid:required, .form_container input[type=password] {
    width: 100%;
}
.form_container input[type=text]:invalid:required, .form_container input[type=password] {
    width: 100%;
    background-color: brown;
}
 .form_container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
}
 .form_container .btn {
    background-color: white;
    opacity: 0.7;
     margin-top: 10px;
}


.form_container .cancel {
    background-color: white;
         margin-top: 10px;
}

 .form_container .btn:hover, .open-button:hover {
    opacity: 1;
}

