{% extends 'users/base.html' %}
{% load template_tags %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'all_notes.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'goals.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <div class="row g-0">
        {% if user.is_authenticated %}
            <div class="col do-center form-container">
                {{ calendar_|safe }}
            </div>
            <div class="col form-container">
                {% include 'entries/calendar.html' with parameter='all_notes'  %}

                <a href="{% url 'download_data' %}"><button class="nav-link nav-btn" type="button">Download all notes</button></a>
                <a href="{% url 'new_note' %}"><button class="nav-link nav-btn" type="button">Add new note or list</button></a>
            </div>
            <h3 class="h-bottom">Notes and lists for {% if day_ %} {{ day_ }} {% endif %} {{ month_n }} {{ year_ }}</h3>


            <div class="row g-0">
                <div class="col-sm-6 center" style="text-align: left;">

                    <h3 class="logo" style="text-align: center; background-color: black;">Notes</h3>
                    {% if notes %}

                        {% for id_note, u, t, m, n, e, w, iterate in notes reversed  %}
                            <input type="hidden" name="id_note" id="id_note" value="{{ id_note }}" readonly hidden>
                            <h4 class="name" style="background-color: #212529;">Note created {{ t }}</h4>
                            <div id="short_text{{iterate}}">
                                <p><span class="blue-pad">Your mood: </span>{{ m }}</p>
                                <p><span class="blue-pad">Your note: </span>{{ n|truncatechars:200 }}</p>
                            </div>

                            <button class="nav-link nav-btn edit-button" id="show_full{{iterate}}" onclick="readAll({{iterate}})">Show more</button>

                            <div id="full_text{{iterate}}" style="display: none;">
                                <p><span class="blue-pad">Your mood: </span>
                                    <img class="mood" src="{% static 'images/' %}{{ m }}.png" title="{{ m }}"></p>

                                <p><span class="blue-pad">Your note: </span>{{ n|linebreaksbr }}</p>
                                <p><span class="blue-pad">Your task is to drink </span>{{ e }} cups of water</p>
                                <p><span class="blue-pad">You drinked </span>{{ w }} cups of water</p>
                            </div>

                            <div>
                                <a href="{% url 'edit_note' %}?id_note={{id_note}}"><button class="nav-link nav-btn
                                edit-button">Edit note</button></a>
                                <a href="#delete-note" onclick="unhide('delete-note{{ id_note }}')"><button class="nav-link nav-btn
                                edit-button">Delete note?</button></a>
                            </div>

                            <div id="delete-note{{ id_note }}" style="display: none;">
                                <a href="{% url 'delete_note' %}?id_note={{id_note}}"><button class="nav-link nav-btn
                                edit-button" type="button">I'm sure, delete note</button></a>
                            </div>

                            <br>
                        {% endfor %}
                    {% else %}
                        <h4 class="name" style="background-color: #212529; margin-bottom: 0!important;">These dates have no records</h4>
                    {% endif %}
                </div>

                <br>


                <div class="col-sm-6 center">
                    <form action="{% url 'will_did_case' %}?day_month={{ day_ }}, {{ month_n }}" method="POST">
                        {% csrf_token %}
                        <h3  class="logo" style="text-align: center; background-color: black;">Lists</h3>
                        {% if lists %}
                            {% for id_list, name_list, time_list, wc, wa, hc, ha, rc, ra, dc, da in lists reversed %}
                                <h4  class="name" style="background-color: #212529;">List created {{ time_list }}</h4>
                                <h5 class="logo" style="color: #212529!important;">{{ name_list }}</h5>

                                <input type="hidden" name="id_list" id="id_list" value="{{ id_list }}" readonly hidden>

                                {% if wc %}
                                    <p class="blue-pad">Work category</p>
                                    {% for case, check in wc|zip:wa %}
                                        {% if check|unpack %}
                                            <input type="checkbox" id="work_ch" name="boxes[]" checked="checked"
                                                   value="work, {{ case|unpack}}, {{id_list }}">
                                            <label for="work_ch">{{ case|unpack }}</label>
                                        {% else %}
                                            <input type="checkbox" name="boxes[]" value="work, {{ case|unpack}}, {{id_list }}">
                                            <label for="work_ch">{{ case|unpack }}</label>

                                        {% endif %}
                                        <br>
                                    {% endfor %}
                                {% endif %}

                                {% if hc %}
                                    <p class="blue-pad">Home category</p>
                                    {% for case, check in hc|zip:ha %}
                                        {% if check|unpack %}
                                            <input type="checkbox" id="home_ch" name="boxes[]" checked="checked"
                                                   value="home, {{ case|unpack}}, {{id_list }}">
                                            <label for="home_ch">{{ case|unpack }}</label>
                                        {% else %}
                                            <input type="checkbox" name="boxes[]" value="home, {{ case|unpack}}, {{id_list }}">
                                            <label for="home_ch">{{ case|unpack }}</label>

                                        {% endif %}
                                        <br>
                                    {% endfor %}
                                {% endif %}

                                {% if rc %}
                                    <p class="blue-pad">Rest category</p>
                                    {% for case, check in rc|zip:ra %}
                                        {% if check|unpack %}
                                            <input type="checkbox" id="rest_ch" name="boxes[]" checked="checked"
                                                   value="rest, {{ case|unpack}}, {{id_list }}">
                                            <label for="rest_ch">{{ case|unpack }}</label>
                                        {% else %}
                                            <input type="checkbox" name="boxes[]" value="rest, {{ case|unpack}}, {{id_list }}">
                                            <label for="rest_ch">{{ case|unpack }}</label>

                                        {% endif %}
                                        <br>
                                    {% endfor %}
                                {% endif %}

                                {% if dc %}
                                    <p class="blue-pad">Development category</p>
                                    {% for case, check in dc|zip:da %}
                                        {% if check|unpack %}
                                            <input type="checkbox" id="development_ch" name="boxes[]" checked="checked"
                                                   value="development, {{ case|unpack}}, {{id_list }}">
                                            <label for="development_ch">{{ case|unpack }}</label>
                                        {% else %}
                                            <input type="checkbox" name="boxes[]" value="development, {{ case|unpack}}, {{id_list }}">
                                            <label for="development_ch">{{ case|unpack }}</label>

                                        {% endif %}
                                        <br>
                                    {% endfor %}
                                {% endif %}
                                <div >
                                    <button type='submit' title="It is mandatory if you changed the execution of cases"
                                            class="nav-link nav-btn edit-button">Save changes</button>
                                    <a href="{% url 'save_list' %}?id_list={{id_list}}"><button class="nav-link
                                    nav-btn edit-button">Edit list</button></a>
                                    <a href="#delete-list" onclick="unhide('delete-list{{ id_list }}')"><button class="nav-link
                                    nav-btn edit-button" type="button">Delete list?</button></a>
                                </div>
<!--                        'delete-note{{ id_note }}'-->

                                <div id="delete-list{{ id_list }}" style="display: none;">
                                    <a href="{% url 'delete_list' %}?id_list={{id_list}}"><button class="nav-link nav-btn
                                    edit-button" type="button">I'm sure, delete list</button></a>
                                </div>

                                {% endfor %}

                            {% else %}
                                <h4 class="name" style="background-color: #212529; margin-bottom: 0!important;">
                                    These dates have no lists</h4>
                            {% endif %}
                        {% endif %}
                    </form>
                </div>
            </div>
    </div>

    <script>
        var first_click = true;

        function readAll(iterate) {
            let full = 'full_text'.concat(iterate);
            let short = "short_text".concat(iterate);
            if (first_click) {
                document.getElementById(full).style.display = ""
                document.getElementById(short).style.display = "none"
                first_click = false;}
            else {
                document.getElementById(full).style.display = "none"
                document.getElementById(short).style.display = ""
                first_click = true;
                }
        }

        function unhide(id) {
            var deleteDiv = document.getElementById(id);
            deleteDiv.style.display = "block";
        }
    </script>
{% endblock %}

