{% extends 'users/base.html' %}
{% load template_tags %}

{% block title %} Новий запис {% endblock %}

{% block content %}

{% load static %}
<script src="{% static 'scripts.js' %}"></script>

<h1>Notes and lists for {% if day_ %} {{ day_ }} {% endif %} {{ month_n }} {{ year_ }}</h1>
{{ calendar_|safe }}
<br>

<a href="{% url 'download_data' %}">Download all notices</a>
<a href="{% url 'new_note' %}">Add new note or list</a>

<form action="" method="POST">
    {% csrf_token %}
    <select id="new_month" name="new_month">
        <option value="{{ month_ }}" selected="selected">{% if month_n %} {{ month_n|title }} {% else %}
            ---SELECT MONTH---{% endif %}</option>
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
    </select>

    <select id="new_day" name="new_day" value="new_day">
        <option value="" selected="selected">---SELECT DAY---</option>
        {% for i in '0123456789101112131415161718192'|make_list %}
            <option value="{{forloop.counter}}">{{forloop.counter}}</option>
        {% endfor %}
    </select>

    <button type='submit'>Change</button>
</form>

{% if notes %}
    <h3>Your notes</h3>
        {% for id_note, u, t, m, n, e, w, iterate in notes reversed  %}
            <input type="hidden" name="id_note" id="id_note" value="{{ id_note }}" readonly hidden>

            <br>
            <h4 style="color: blue;">Note created {{ t }}</h4>
            <div id="short_text{{iterate}}">
                <br>Your mood: {{ m }}
                <br>Your note: {{ n|truncatechars:200 }}
            </div>

            <button id="show_full{{iterate}}" onclick="readAll({{iterate}})">Показати повністю</button>

            <div id="full_text{{iterate}}" style="display: none;">
                Your username: {{ u }}
                <br>Your mood: {{ m }}
                <br>Your note:<br>{{ n|linebreaksbr }}
                <br>Your need_cups: {{ e }}
                <br>Your now_cups: {{ w }}
            </div>

            <a href="{% url 'delete_note' %}?id_note={{id_note}}">Видалити запис</a>
            <a href="{% url 'edit_note' %}?id_note={{id_note}}">Редагувати запис</a>

        <br>
    {% endfor %}
{% else %}
    <p>Ці дати не мають записів</p>
{% endif %}
<br>

<form action="{% url 'will_did_case' %}?day_month={{ day_ }}, {{ month_n }}" method="POST">
    {% csrf_token %}

    {% if lists %}
        <h3>Your lists</h3>
        {% for id_list, name_list, time_list, wc, wa, hc, ha, rc, ra, dc, da in lists reversed %}
            <h4 style="color: blue;">{{ name_list }}</h4>
            <h5 style="color: blue;">List created {{ time_list }}</h5>
            <input type="hidden" name="id_list" id="id_list" value="{{ id_list }}" readonly hidden>

            {% if wc %}
            <p>Work category</p>
                {% for case, check in wc|zip:wa %}
                    {% if check|unpack %}
                        <input type="checkbox" id="work_ch" name="boxes[]" checked="checked"
                               value="work, {{ case|unpack}}, {{id_list }}">
                        <label for="work_ch">{{ case|unpack }}</label>
                    {% else %}
                        <input type="checkbox" name="boxes[]" value="work, {{ case|unpack}}, {{id_list }}">
                        <label for="work_ch">{{ case|unpack }}</label>

                    {% endif %}
                    <br>
                {% endfor %}
            {% endif %}

            {% if hc %}
            <p>Home category</p>
                {% for case, check in hc|zip:ha %}
                    {% if check|unpack %}
                        <input type="checkbox" id="home_ch" name="boxes[]" checked="checked"
                               value="home, {{ case|unpack}}, {{id_list }}">
                        <label for="home_ch">{{ case|unpack }}</label>
                    {% else %}
                        <input type="checkbox" name="boxes[]" value="home, {{ case|unpack}}, {{id_list }}">
                        <label for="home_ch">{{ case|unpack }}</label>

                    {% endif %}
                    <br>
                {% endfor %}
            {% endif %}

            {% if rc %}
            <p>Rest category</p>
                {% for case, check in rc|zip:ra %}
                    {% if check|unpack %}
                        <input type="checkbox" id="rest_ch" name="boxes[]" checked="checked"
                               value="rest, {{ case|unpack}}, {{id_list }}">
                        <label for="rest_ch">{{ case|unpack }}</label>
                    {% else %}
                        <input type="checkbox" name="boxes[]" value="rest, {{ case|unpack}}, {{id_list }}">
                        <label for="rest_ch">{{ case|unpack }}</label>

                    {% endif %}
                    <br>
                {% endfor %}
            {% endif %}

            {% if dc %}
            <p>Development category</p>
                {% for case, check in dc|zip:da %}
                    {% if check|unpack %}
                        <input type="checkbox" id="development_ch" name="boxes[]" checked="checked"
                               value="development, {{ case|unpack}}, {{id_list }}">
                        <label for="development_ch">{{ case|unpack }}</label>
                    {% else %}
                        <input type="checkbox" name="boxes[]" value="development, {{ case|unpack}}, {{id_list }}">
                        <label for="development_ch">{{ case|unpack }}</label>

                    {% endif %}
                    <br>
                {% endfor %}
            {% endif %}
            <button type='submit'  title="Обов'язково, якщо Ви змінювали виконаність справ">Зберегти зміни</button>

<!--            <a href="{% url 'will_did_case' %}?id_list={{id_list}}" title="Обов'язково, якщо Ви змінювали виконаність-->
<!--             справ">Зберегти зміни</a>-->
            <a href="{% url 'delete_list' %}?id_list={{id_list}}">Видалити список</a>
            <a href="{% url 'save_list' %}?id_list={{id_list}}">Редагувати список</a>


        {% endfor %}

    {% else %}
        <p>Ці дати не мають списків</p>
    {% endif %}
</form>

{% endblock %}

