<form action="" method="POST" style="text-align: center; margin-bottom: 40px; padding: 6px;">
    {% csrf_token %}
    <input type="hidden" name="month_n" value="{{ month_n }}">
    <input type="hidden" name="month_" value="{{ month_ }}">
    <input type="hidden" name="goal_n" value="{{ goal_n }}">
    <select id="new_month" name="new_month">
        <option value="{{ month_ }}" selected="selected">{{ month_n|title }}</option>
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
    </select>

    {% if parameter == 'all_notes' %}
        <select id="new_day" name="new_day" value="new_day">
            <option value="" selected="selected">---SELECT DAY---</option>
            {% for i in '0123456789101112131415161718192'|make_list %}
                <option value="{{forloop.counter}}">{{forloop.counter}}</option>
            {% endfor %}
        </select>
    {% endif %}

    <button type='submit' class="nav-link nav-btn" style="background-color: black; color: #d9bc6e!important;
    display: unset;">Change</button>
</form>