{% extends 'users/base.html' %}
{% load template_tags %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'goals.css' %}">
{% endblock %}

{% block title %}
    <title>Goals</title>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

        <div class="row g-0">
            {% if goals %}
                <div class="col-sm-6 col-md-8" id="goals_exec">
                    <form name="form-container" class="form-container" action="{% url 'goals' %}" method="POST">
                        {% csrf_token %}
                        <h2 class="name">Did you execute your goals?</h2>
                        {% for goal, today, done, id in goals_exec %}
                            {% checkbox_input goal done id %}
                            <label for="{{ goal }}">{{ goal }}</label>
                            {% if today %} - today's goal!{% endif %}
                            <br>
                        {% endfor %}
                        <button type="submit" class="nav-link nav-btn">Save</button>
                    </form>
                </div>
            {% endif %}
            {% if not goal_id and not unhide %}
                <div class="col form-container">
                    <h2 class="name">Have a goal you want to achieve?</h2>
                    <p>Add it and we'll be able to remind you.</p>
                    <a href="{% url 'unhide_div' %}"><button class="nav-link nav-btn" type="button">Add new goal</button></a> <!--unhide_div-->
                </div>
            {% endif %}

            {% if goal or unhide %}
              <div class="col-1"></div>
                <div id="myForm" class="col-10">

                    <form id="form" name="form" class="form-container" action="{% url 'add_goal' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="goal_id" id="goal_id" value="{{ goal_id }}" readonly hidden>
                        {% if unhide %}
                            <h1 style="text-align: center;">New goal</h1>
                        {% else %}
                            <h1 style="text-align: center;">Editing a goal</h1>
                        {% endif %}

                        <label for="goal"><b>Goal</b></label><br>
                        <input type="text" placeholder="Goal" name="goal" id="goal" value="{{ goal }}"
                                required>

                        <h5>Receive messages</h5>
                        <label><b>How often</b></label><br>

                        <input type="radio" name="option" id="every_day" value="every_day" checked>
                        <label for="every_day">Every day</label><br>

                        <input type="radio" name="option" id="select_days" value="select_days">
                        <label for="select_days">Select days</label><br>

                        <div id="select">
                            {% for day, mean in dict_days.items %}
                                {% checkbox_input day mean %}
                                <label for="{{ day }}">{{ day }}</label>
                            {% endfor %}
                        </div>

                        <br>
                        <label><b>At what time?</b></label><br>
                        <select name="hour_category">
                            <option value="{{ hour_category }}">{% if hour_category %} {{ hour_category }} {% else %}
                                Select an hour{% endif %}</option>
                            {% for i in 1|range:25 %}
                                <option value="{{ forloop.counter }}">{{ i }} hours</option>
                            {% endfor %}
                        </select>
                        <br>

                        <label><b>At what minute?</b></label><br>
                        <select name="minutes_category">
                            <option value="{{ minutes_category }}">{% if minutes_category %} {{ minutes_category }}
                                {% else %}Select a minute{% endif %}</option>
                            {% for i in 1|range:61 %}
                                <option value="{{ forloop.counter }}">{{ i }} minutes</option>
                            {% endfor %}
                        </select>

                        <br>
                        <div id="danger" title="This is the zone of important decisions. Are you sure about the changes?">
                        <input type="checkbox" id="notifications" name="notifications" value="notifications" checked
                        title="With an empty square, messages will not come...">
                        <label for="notifications">Enable notification</label>

                        <input type="checkbox" id="continuing" name="continuing" value="continuing" title="If you have
                        achieved your goal, click on the square. There will be no statistics or messages on it.">
                        <label for="continuing">Close goal</label>
                        </div>

                        <br>
                        <p>*If you want to receive notifications about your goal in Telegram, check if you have written
                            <a href='https://t.me/tviy_den_bot'>a bot.</a></p>

                        <button type="submit" class="nav-link nav-btn">Save</button>
                        <div class="row g-0">
                            {% if goal_id %}
                            <div class="col">
                                <a href="#delete-goal" onclick="deleteGoal()"><button type="button">Delete goal?</button>
                                </a>
                            </div>
                            {% endif %}
                            <div class="col">
                                <a href="{% url 'goals' %}"><button type="button">Close</button></a>
                            </div>
                        </div>
                        <div id="delete-goal" style="display: none;">
                            <a href="{% url 'delete_goal' %}?goal_id={{goal_id}}"><button type="button">I'm sure,
                                delete goal</button>
                            </a>
                        </div>

                    </form>
                </div>
            </div>
            {% endif %}

            {% if goals %}
                <h3 class="h-bottom">Your goals</h3>
                <div class="row g-0">

                    {% for goal in goals  %}
                        <div class="col-sm-6 center">

                            <h4 class="name" style="background-color: #212529;">{{ goal.goal_name }}</h4>
                            <a style="color: #d9bc6e;"
                            href="{% url 'edit_goal' %}?goal_id={{goal.goal_id}}"><button type="button" class="nav-link
                            nav-btn all-width">Edit goal</button></a>

                            {% if goal.monday or goal.tuesday or goal.wednesday or goal.thursday or goal.friday or goal.saturday or goal.sunday %}
                                <p>The goal is relevant on:</p>
                                <p>{% if goal.monday %}  - Monday {% endif %}
                                {% if goal.tuesday %} - Tuesday {% endif %}
                                {% if goal.wednesday %} - Wednesday {% endif %}
                                {% if goal.thursday %} - Thursday {% endif %}
                                {% if goal.friday %} - Friday {% endif %}
                                {% if goal.saturday %} - Saturday {% endif %}
                                {% if goal.sunday %} - Sunday {% endif %}</p>

                            {% else %}
                                <p>No data available. We cannot keep statistics and send messages for you :(</p>
                                <p>You can fix this in the edit panel.</p>
                            {% endif %}

                            {% if goal.notification_hour != 25 %}
                                <p>Time for messages - {{ goal.notification_hour }} : {{ goal.notification_minutes }}</p>
                            {% else %}
                                <p>The time for messages is not specified, so they will not come.</p>
                            {% endif %}

                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}

    <script>
        function deleteGoal() {
            var deleteGoalDiv = document.getElementById("delete-goal");
            deleteGoalDiv.style.display = "block";
        }
    </script>
{% endblock content %}
