{% extends 'users/base.html' %}
{% load static %}
{% load template_tags %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'new_note.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'goals.css' %}" type="text/css">
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="row g-0">
            <div class="col-sm-6 col-md-8" style="text-align: center;">

                <form action="{% url 'write_note' %}" method="POST" class="form-container">
                    {% csrf_token %}
                    <h1 style="margin:0;">Note</h1>

                    <input id="id_note" name="id_note" value="{{ id_note }}" readonly hidden>

                    <label>Mood: </label><br>
                    <div class="grid">
                        {% for name_mood, path in moods.items %}
                            <div>
                                {% if name_mood == mood %}
                                    <input type="radio" name="name_mood" value="{{ name_mood }}" checked>
                                {% else %}
                                    <input type="radio" name="name_mood" value="{{ name_mood }}">
                                {% endif %}
                                <img class="mood" src="{% static 'images/' %}{{ path }}" title="{{ name_mood }}">
                            </div>
                        {% endfor %}
                    </div>
                    <textarea placeholder="Write your note here." name="note" cols="40" rows="5"
                                  style="overflow-y: scroll;">{{ note }}</textarea>


                    <label>Need to drink: </label>
                    <input type="number" id="need_cups" name="need_cups" maxlength="100" value="{{ need_cups }}"><br>

                    <label>You drank: </label>
                    <input type="number" id="now_cups" name="now_cups" maxlength="100" value="{{ now_cups }}">

                    <p>You drank
                        {% if now_cups %}
                            {{ now_cups }}
                           {% else %}
                            0
                           {% endif %}
                        cups out of {{ need_cups }}
                    </p>

                    <button type="submit" name="save_all" class="nav-link nav-btn">Save note</button>
                    <a href="{% url 'new_note' %}"><button type="button" class="nav-btn" title="Delete case">
                        Discard changes</button></a>

                </form>
            </div>
            <div class="col form-container" style="text-align: center;">
                <form action="{% url 'save_list' %}?id_list={{ id_list }}" method="POST">
                    {% csrf_token %}

                    <h1 style="margin: 0;">List of cases</h1>

                    <input type="text" id="name_list" name="name_list" maxlength="25" {% if name_list %}
                           value="{{ name_list }}" {% else %}  placeholder="Name of the list" {% endif %}><br>
                    <select name="categories" id="cases_categories">
                        <option>Select the category</option>
                        <option value="work">Work</option>
                        <option value="home">House</option>
                        <option value="rest">Rest</option>
                        <option value="development">Development</option>
                    </select>

                    <h5 style="margin-top: 10px;">Please select a category!</h5>

                    <input type="text" id="case" name="case" maxlength="100" placeholder="Write your case"
                           value="{{ case }}">
                    <button type="submit" class="nav-link nav-btn">Add case</button>

                    <input id="id_list" name="id_list" value="{{ id_list }}" readonly hidden>

                    {% if list_name %}
                        <h3 style="color: blue;">Your list - {{ list_name }}</h3>
                    {% endif %}

                    {% if work %}
                        <h5>Work category:</h5>
                            {% for case, check in work %}
                                <div>
                                    {% if check %}
                                        <input type="checkbox" id="work_ch" name="boxes[]" checked="checked"
                                               value="work, {{ case }}, {{ id_list }}">
                                        <label for="work_ch">{{ case }}</label>

                                    {% else %}
                                        <input type="checkbox" name="boxes[]" value="work, {{ case }}, {{ id_list }}">
                                        <label for="work_ch">{{ case }}</label>
                                    {% endif %}
                                    <a href="{% url 'delete_case' %}?cat_case_idl=work, {{ case }}, {{ id_list }}"><button
                                            type="button" class="delete-case" title="Delete case">x</button></a>
                                </div>
                            {% endfor %}
                        {% endif %}

                    {% if home %}
                        <h5>Home category:</h5>
                        {% for case, check in home %}
                            <div>
                                {% if check %}
                                    <input type="checkbox" id="home_ch" name="boxes[]" checked="checked"
                                                   value="home, {{ case }}, {{id_list }}">
                                    <label for="home_ch">{{ case }}</label>
                                {% else %}
                                            <input type="checkbox" name="boxes[]" value="home, {{ case }}, {{id_list }}">
                                            <label for="home_ch">{{ case }}</label>
                                {% endif %}
                                <a href="{% url 'delete_case' %}?cat_case_idl=home, {{ case }}, {{ id_list }}"><button
                                        type="button" class="delete-case" title="Delete case">x</button></a>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if rest %}
                        <h5>Rest category:</h5>
                        {% for case, check in rest %}
                            <div>
                                {% if check %}
                                    <input type="checkbox" id="rest_ch" name="boxes[]" checked="checked"
                                           value="rest, {{ case }}, {{ id_list }}">
                                    <label for="rest_ch">{{ case }}</label>
                                {% else %}
                                    <input type="checkbox" name="boxes[]" value="rest, {{ case }}, {{ id_list }}">
                                    <label for="rest_ch">{{ case }}</label>
                                {% endif %}
                                <a href="{% url 'delete_case' %}?cat_case_idl=rest, {{ case }}, {{ id_list }}"><button
                                        type="button" class="delete-case" title="Delete case">x</button></a>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if development %}
                        <h5>Development category:</h5>
                        {% for case, check in development %}
                            <div>
                                {% if check %}
                                    <input type="checkbox" id="development_ch" name="boxes[]" checked="checked"
                                           value="development, {{ case }}, {{ id_list }}">
                                    <label for="development_ch">{{ case }}</label>
                                {% else %}
                                    <input type="checkbox" name="boxes[]" value="development, {{ case }}, {{id_list }}">
                                    <label for="development_ch">{{ case }}</label>
                                {% endif %}
                                <a href="{% url 'delete_case' %}?cat_case_idl=development, {{ case }}, {{ id_list }}">
                                    <button type="button" class="delete-case" title="Delete case">x</button></a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
