{% extends 'users/base.html' %}

{% block title %} Твій щоденник {% endblock %}

{% block content %}
<!--    <a href="{% url 'new_note' %}" >Додати запис</a>-->
<!--    <form action="{% url 'new_note' %}">-->
<!--        <input type="submit" value="Додати запис" />-->
<!--    </form>-->
<!--    <a href="{% url 'all_notes' %}" >Перегляд записів</a>-->
    <br>
    <br>

    <div>
        <h4>Перелік справ на сьогодні</h4>
        <p>17.09.2022</p>
        <p>Сам список</p>
        <button>Змінити список</button>
        <button>Створити новий</button>
        <button>Подивитись усі</button>
    </div>

    <br>
    <br>
    <div>
        <h4>Твоя ціль</h4>
        <p>Сама ціль</p>
        <p>На таку тривалість</p>
        <button>Видалити ціль</button>
        <button>Змінити тривалість</button>
        <button>Додати нову</button>
        <button>Повідомлення по часу</button>
    </div>

    <br>
    <br>
    <div>
        <h4>Статистика досягнення цілі</h4>
        <p>Календар</p>
    </div>

    <br>
    <br>
    <div>
        <h4>Статистика води</h4>

        <p>Календар</p>
        <p>Норма: </p>
        <button>10 чашок (списком)</button>
    </div>

    <br>
    <br>
    <div>
        <h4>Статистика справ</h4>
        <p>Справа - стільки разів</p>
    </div>

        <br>
    <br>
    <div>
        <h4>Статистика настроїв та записів</h4>
        <p>Календар</p>
    </div>

        <br>
    <br>
    <div>
        <h4>Підбірка</h4>
        <p>Додати нову</p>
    </div>

        <br>
    <br>
    <div>
        <h4>Вішліст</h4>
        <p>Додати новий</p>
    </div>




{% endblock %}