{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'register.css' %}">
{% endblock %}

{% block content %}

    <div class="container">
        <form action="" method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="h-bottom mb-4">Sign In Now</legend>
              {{ form|crispy }}
          </fieldset>
          <div class="form-group" id="signup-button">
              <button class="btn body-link-row">SIGN IN</button>
          </div>
          <div class="sign-in">
              <small class="text-muted ml-3" >Don't have an account yet?</small>
              <a class="nav-link nav-btn small-button" href="{% url 'register_user' %}">Sign Up</a>
          </div>
        </form>
    </div>

{% endblock %}