{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'register.css' %}">
{% endblock %}

{% block title %}
    <title>Logout</title>
{% endblock %}

{% block content %}
    <div class="sign-in">

        <h1>You have been Logged out</h1>
        <small class="text-muted ml-3"><a class="nav-link nav-btn small-button"
                                                                     href="{% url 'login' %}">Sign In Again</a></small>
        <br>
        <img src="{% static 'images/' %}notebook.png">
    </div>
{% endblock %}
