{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'register.css' %}">
{% endblock %}

{% block title %}
    <title>Profile</title>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <form action="{% url 'edit_email' %}" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="h-bottom mb-4">{{ user.username }}</legend>
                        <h3>Your email - {{ user.email }}</h3>

                        <div class="edit-email">
                            <label>If you want to edit email: </label>
                            <input type="text" id="email" name="email" maxlength="100" value="Input email">
                            <button class="nav-link nav-btn small-button" type="submit">Save</button>
                        </div>
                </fieldset>
            </form>

            <div class="row g-0">
                <div class="col frame-left">
                    <a class="nav-link nav-btn small-button" href="{% url 'logout' %}" type="submit ">Logout</a>
                </div>

                <div class="col frame-right">
                    <a class="nav-link nav-btn small-button" href="#del-account" onclick="deleteAccount()">
                        Delete account?</a>
                </div>
                <div class="col-12" id="del-account">
                    <a class="nav-link nav-btn small-button" href="{% url 'remove_user' %}">I'm sure, delete account</a>
                </div>
            </div>
            </div>
        </div>
    {% endif %}
    <script>
        function deleteAccount() {
            var deleteAccountDiv = document.getElementById("del-account");
            deleteAccountDiv.style.display = "block";
        }
    </script>


{% endblock %}